*{
    margin: 0px;
    padding: 0px;
}

#container{
    width: 100vw;height: 100vh;
   
}
#nav img,#set{
    width: 30px;height: 30px;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
}
#logo{
    width: 60px;height: 60px;
}
#sidebar{
    width: 80px;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid; */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    left: 15px;top:10px;
    
}
#nav{
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
hr{
    height: 1px;width: 70%;
    background-color: black;
}

#body{
    min-height: calc(100vh + 20px);
    box-sizing: border-box;
    max-width: calc(100vw - 135px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    position: absolute;
    left: 110px;top:10px;
}
#top{
    width: calc(100vw - 135px);height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border: solid black;
    border-width: 0px 0px 2px 0px;

    
}
#pro{
    width: 90px;height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;right: 20px;
}
#pro img{
    width: 30px;height: 30px;
    border: 1px solid;
    padding: 5px;
    border-radius: 50%;

}
#search{
    display: flex;
    position: absolute;left: 20px;
}
#search img{
    width: 30px;height: 30px;
    object-fit: cover;
    padding: 5px 10px 5px 10px;
    border:  solid;
    border-width: 1px 0px 1px 1px;
    border-radius: 10px 0px 0px 10px;
   
    
}

#search input{
    width: 35vw;height: 40px;
    border-width: 1px 1px 1px 0px;
    border-radius: 0px 10px 10px 0px;
}

